
.state-hidden {
    display: none;
}

.clickable {
    cursor: pointer;
}

.time {
    color: #ccc;
}
form {
    display: inline;
}

.linkbutton {
    border: none;
    background: none;
    cursor: pointer;
}
.linkbutton:hover, .clickable:hover {
    text-decoration: underline;
}

.controlgroup {
    /*border-left: 3px solid #484848;*/
    height: 30px;
    padding-left: 20px;
    margin-left: 10px;
    display: inline;
}

.cite1 {
    color: blue;
}
.cite2 {
    color: #730000;
}
.cite3 {
    color: #018100;
}
.cite4 {
    color: #c39165;
}

pre {
    white-space: pre-wrap;
}

h4 {
    margin-bottom: 0;
}

.category-section {
    border-bottom: solid #ccc 1px;
}

td, th {
    border: 1px solid #7f7f7f;
}

tr:nth-child(odd) {
    background-color: #ededed;
}

th {
    font-weight: bold;
    background-color: #ccc;
}

table {
    border-collapse: collapse;
}

.task-tags-section {
    padding-top: 8px;
}

.task-tag-visible,.task-tag-hidden {
    border: 1px solid #018100;
    background-color: rgb(147, 236, 134);
    padding: 0 10px;
    color: #018100;
    font-weight: bold;

    cursor: pointer;
}

.task-tag-hidden {
    border-color: #817d7d;
    background-color: rgb(236, 229, 228);
    padding: 0 10px;
    color: #80817d;
    font-weight: bold;

    cursor: pointer;
}

.task-hidden {
    display: none;
}

.blocked-task {
    color: #aa0000;
}

.non-blocked-task {
    color: #018100;
}